<!DOCTYPE html>
<html>
<head>
    <title>Mad Libs</title>
</head>
<body>
    <h1>Welcome to the Mad Libs Game!</h1>
    <form action="/madlib">
        Pick a person: <input type="text" name="person"><br>
        Pick a color: <input type="text" name="color"><br>
        Pick a noun: <input type="text" name="noun"><br>
        Pick an adjective: <input type="text" name="adjective"><br>
        <br>
        You're done! This game was <select name="funness">
        <option name="funness" value="fun!">Fun!</option>
        <option name="funness" value="super Fun!">Super Fun!</option>
        <option name="funness" value="so fun that you died (and for replying as a ghost)">So fun that you literally died (replying as a ghost)</option>
        <option name="funness" value="CATastrophic">CATastrophic!</option>
        <option name="funness" value="too good for you!">Sucky!</option></select>
        <input type="submit">
    </form>
</body>
</html>